
{% extends 'base.html' %}

{% block title %}User Records{% endblock %}

{% block content %}
<div class="bg-light" style="border:1px solid; border-radius:10px;">
    <h1 class="m-4 text-center">
        User Records
        <a href="{% url 'add_user' %}" class="btn btn-primary">Add User</a>
    </h1>
    <table class="table table-bordered">
        <thead>
            <tr class="bg-info text-white text-center">
                <th>SR NO.</th>
                <th>Name</th>
                <th>Photo</th>
                <th>Email</th>
                <th>Password</th>
                <th>Mobile Number</th>
                <th>Date of birth</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for rec in records %}
            <tr class="text-center">
                <td>{{ forloop.counter }}</td>
                <td>{{ rec.name }}</td>
                <td><img src="{{ rec.photo.url }}" class="rounded-circle" height="70" width="70"></td>
                <td>{{ rec.email }}</td>
                <td>{{ rec.password }}</td>
                <td>{{ rec.mobile_number }}</td>
                <td>{{ rec.date_of_birth }}</td>
                <td>
                    <a href="{% url 'edit_user' rec.id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'delete_user' rec.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'view_user' rec.id %}" class="btn btn-primary">View</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}